# Server Port
PORT=5000

# MongoDB Connection String (Atlas Cluster0, PortfolioDB database)
MONGODB_URI=mongodb+srv://portfolioDB:tHkX6H72lKSuUunO@cluster0.wpavw.mongodb.net/PortfolioDB?retryWrites=true&w=majority&appName=Cluster0

# JWT configuration for authentication
JWT_SECRET=203ecc08853622dc8829289438815b21611eaf8fedd36c1def7818100641b625c7fac5034676c54de8b23ea59c7dd1806cc6b7210e3bc46895ccbcf9d59dd83f

# Admin Login Credentials
ADMIN_USERNAME=admin
# Use bcrypt to hash your plaintext password. See instructions/scripts to generate.
ADMIN_PASSWORD_HASH=$2b$10$AcwOI5lzYWA.ZJ2hOPmUj.CsFqFjemcBfl0g3nBex843nEepjTMmm

# Frontend URL (CORS configuration)
FRONTEND_URL=http://localhost:5173
